* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(224, 218, 218);
  box-shadow: 0 0 5px #a8a2a2;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  position: relative;
}
h1 {
  text-align: center;
}
label,
input {
  margin: 5px;
}
input[type="submit"] {
  background-color: #000;
  color: #fff;
  border: 0;
  width: 60px;
  height: 40px;
  border-radius: 10px;
}
input[type="text"],
input[type="email"] {
  height: 30px;
  border: 1px solid rgb(205, 201, 201);
}
textarea {
  border: 1px solid rgb(205, 201, 201);
}
/* nút reset */
button {
  position: absolute;
  border: 1px solid #d7d2d2;
  border-radius: 50%;
  right: 3%;
  top: 75%;
}
button > i {
  background-color: rgb(35, 156, 204);
  color: #fff;
  border-radius: 50%;
  padding: 5px;
}
